.spinner-wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  color: #bdbdbd;
}

.active {
  border-bottom: 5px solid #454545;
  margin-bottom: -5px;
}

.dropdown-container {
  width: 250px;
  position: absolute;
  right: 0;
  display: none;
  z-index: 1;
}

.dropdown-content {
  box-shadow: 0 0 2px #c6c6c6;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
}

.course-card {
  width: 15rem;
  color: #454545;
}

.course-category, .course-lecture {
  font-size: 12px;
  color: gray;
}

.image-wrapper {
  height: 150px;
  overflow: hidden;
}

.list-page-content {
  color: #454545;
}

.course-info {
  color: #454545;
  display: flex;
}

.course-list-item {
  display: flex;
}

.pure-button {
  border: none;
  background-color: transparent;
  padding: 6px 12px;
  color: #454545;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.category-button {
  border: 1px solid lightgray;
  border-radius: 5px;
  color: #3498db;
  font-weight: bold;
  padding: 16px 0;
  width: 230px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-button:hover {
  color: #055489;
}

.full-screen-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(45, 52, 54, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.input-text {
  padding: 4px 8px;
  font-size: 15px;
  border: 1px solid #454545;
}

.input-text:focus {
  outline: none;
}

.bg-lightgray {
  background-color: #f8f8f8;
}

.border-gray{
  border: 1px solid gray;
}
