.text-color-primary {
  color: #454545;
}

.text-color-blue {
  color: #0682d5
}

.text-small {
  font-size: 14px;
}

.text-smaller {
  font-size: 15px;
}

.text-blur {
  color: gray;
}

.text-x-small {
  font-size: 12px;
}

.text-color-error {
  color: #c0392b;
}

.text-line-through {
  text-decoration: line-through;
}
